
.body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#travel {
    width: 1900px;
    height: 800px;
}

/* NavBar styling */
.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    margin: 0px 15px;
    font-size: 14px;
}

.a {
    color: var(--bs-black) !important;
    text-align: center;
    transition: color 0.3s, text-decoration 0.3s;
}



/* NavBar styling */ 
.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-item {
    margin: 0px 15px;
    font-size: 14px;
  }
  
  .a {
    color: var(--bs-black) !important;
    text-align: center; 
    transition: color 0.3s, text-decoration 0.3s;
  }

 /* Jumbo and surround box  */

.jumbotron {
    background-image: url(../images/sean-oulashin-KMn4VEeEPR8-unsplash.jpg);
    background-size: cover;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

#searchBox {
    width: 350px;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    color: black;
    margin-top: 30px;
    padding-left: 10px;
}

#searchBtn {
    background-color: rgb(44, 123, 168);
    height: 50px;
    border-radius: 10px;
    background-color: black;
  border-color: black;
}


h1 {
    font-size: 30px;
    text-align: center;
}

@media screen and (max-width: 768px) {
  .jumbotron {
      height: auto;
      padding: 20px;
      margin: 20px;
  }

  #searchBox {
      width: 100%;
      margin-top: 20px;
}
}

/* Hover & Transition */
a:hover {
    color:  rgb(76, 146, 187) !important;
}

/* Responsive styles */
@media (max-width: 768px) {
    .navbar-nav .nav-link {
      margin-right: 0.5rem;
    }
  }
  

.footer {
    background-color: rgb(244, 242, 241);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(80, 80, 80);
    font-size: 0.75rem;
    padding-bottom: 55px;
}

@media screen and (min-width: 768px) {
    #social-container {
        padding-left: 50px;
    }
}

#email-input {
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.1);
}

.subscribe-form-element {
    font-size: 0.6rem;
    border-radius: 0;
}

#newsletter-container {
    background-color: rgb(249, 248, 247);
}

@media screen and (min-width: 768px) {
    #newsletter-container {
        padding-right: 50px;
    }
}

#newletter-subscription {
    width: 250px;
}

.footer-section-header,
.copyright-notice {
    font-size: 0.75rem;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fa-stack {
    margin-bottom: 5px; 
}


.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 300px;
    height: 340px;
    margin: 10px;
    background-color: rgb(244, 242, 241);
    border-style: solid;
    border-color: rgb(80, 80, 80);
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(80, 80, 80);
}

@media screen and (max-width: 768px) {
    .box {
        width: 100%; 
        margin-bottom: 20px; 
    }
}

#imageH {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin-top: 10px;
    margin-bottom: 10px;
}


  .hotelTitle {
    font-size: 18px;
    font-weight: bold;
  }
  .cardDiv {
    text-align: center;
}

h5 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.hotels{
    margin: 50px;
    display: flex;
    justify-content: center;    
}

#cityHotel {
    text-align: center;
}

#dropDown {
    display:none;
}





